<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javaweb8S.dao.AboutDAO">
	
<!-- 	<select id="getNicknameListFromEmail" resultType="String">
		select nickname from bo_member where email = #{email};
	</select> -->
	
	<select id="getNicknameListWithEmail" resultType="String">
		SELECT nickname FROM bo_member WHERE email = #{email} AND memberDel != "탈퇴";
	</select>
	
	<select id="getBooksletterCheck" resultType="String">
		SELECT booksletterDate FROM bo_booksletter WHERE email = #{email} AND memNickname = #{memNickname} AND booksletterStatus != "구독취소";
	</select>
	
	<select id="getProductInfo" resultType="com.spring.javaweb8S.vo.ProductVO">
		SELECT * FROM bo_product WHERE idx = #{originIdx};
	</select>
	
	<select id="getMagazineInfo" resultType="com.spring.javaweb8S.vo.MagazineVO">
		SELECT * FROM bo_magazine WHERE idx = #{originIdx};
	</select>
	
	<select id="getMagazineTitle" resultType="String">
		SELECT maTitle FROM bo_magazine WHERE maOpen = "공개" AND maType = #{maType} ORDER BY idx DESC;
	</select>
	
	<select id="getProductName" resultType="String">
		SELECT prodName FROM bo_product WHERE prodOpen = "공개" ORDER BY idx DESC;
	</select>

	<select id="AskSearchTotRecCnt" resultType="int">
		<if test='searchString == ""'><!-- 검색어가 없으면 전체! -->
		 	SELECT count(*) FROM bo_ask 
		 	
		 	WHERE askDel != "삭제" AND category != "커뮤니티" 
		 	
		 	<if test='sort != "" and (sort == "답변완료" or sort == "답변전")'>
				AND answeredAsk = #{sort}
			</if>
		 	<if test='sort != "" and (sort == "공개" or sort == "비공개")'>
				AND secret = #{sort}
			</if>
			;
		</if>
		<if test='searchString != ""'>
		 	SELECT count(*) FROM bo_ask 
		 	
		 	WHERE askDel != "삭제" AND category != "커뮤니티" 
		 	
		 	<if test='sort != "" and (sort == "답변완료" or sort == "답변전")'>
				AND answeredAsk = #{sort}
			</if>
		 	<if test='sort != "" and (sort == "공개" or sort == "비공개")'>
				AND secret = #{sort}
			</if>
			AND ${search} LIKE CONCAT('%',#{searchString},'%');
		</if>
	</select>
	
	<select id="getAskSearch" resultType="com.spring.javaweb8S.vo.AskVO">
		<if test='searchString == ""'><!-- 검색어가 없으면 전체! -->
		 	SELECT * FROM bo_ask 
		 	
		 	WHERE askDel != "삭제" AND category != "커뮤니티" 
		 	
		 	<if test='sort != "" and (sort == "답변완료" or sort == "답변전")'>
				AND answeredAsk = #{sort}
			</if>
		 	<if test='sort != "" and (sort == "공개" or sort == "비공개")'>
				AND secret = #{sort}
			</if>
			ORDER BY idx DESC LIMIT #{startIndexNo},#{pageSize};
		</if>
		<if test='searchString != ""'>
		 	SELECT * FROM bo_ask 
		 	
		 	WHERE askDel != "삭제" AND category != "커뮤니티" 
		 	
		 	<if test='sort != "" and (sort == "답변완료" or sort == "답변전")'>
				AND answeredAsk = #{sort}
			</if>
		 	<if test='sort != "" and (sort == "공개" or sort == "비공개")'>
				AND secret = #{sort}
			</if>
			AND ${search} LIKE CONCAT('%',#{searchString},'%')
			ORDER BY idx DESC LIMIT #{startIndexNo},#{pageSize};
		</if>
	</select>
		
	<select id="getAskDetail" resultType="com.spring.javaweb8S.vo.AskVO">
		SELECT * FROM bo_ask WHERE idx = #{idx};
	</select>
	
	<select id="getAskProdName" resultType="String">
		<if test='category != null and category == "컬렉션상품"'>
			SELECT prodName FROM bo_product WHERE idx = #{originIdx}; 
		</if>
		<if test='category != null and category != "컬렉션상품"'>
			SELECT maTitle FROM bo_magazine WHERE idx = #{originIdx}; 
		</if>
	</select>
	
	<select id="noticeListTotRecCnt" resultType="int">
		<if test='searchString == ""'><!-- 검색어가 없으면 전체! -->
		 	SELECT count(*) FROM bo_notice 
		 	WHERE noticeOpen = "공개" AND category != "3개의책";
		</if>
		<if test='searchString != ""'>
		 	SELECT count(*) FROM bo_notice 
		 	WHERE noticeOpen = "공개" AND category != "3개의책" 
			AND ${search} LIKE CONCAT('%',#{searchString},'%');
		</if>
	</select>
	
	<select id="getNoticeSearch" resultType="com.spring.javaweb8S.vo.NoticeVO">
		<if test='searchString == ""'><!-- 검색어가 없으면 전체! -->
		 	SELECT * FROM bo_notice 
		 	WHERE noticeOpen = "공개" AND category != "3개의책" 
		 	
		 	ORDER BY important DESC, idx DESC LIMIT #{startIndexNo},#{pageSize};
		</if>
		<if test='searchString != ""'>
		 	SELECT * FROM bo_notice 
		 	WHERE noticeOpen = "공개" AND category != "3개의책" 
			AND ${search} LIKE CONCAT('%',#{searchString},'%') 
			
			ORDER BY important DESC, idx DESC LIMIT #{startIndexNo},#{pageSize};
		</if>
	</select>
	
	<select id="getNoticeInfo" resultType="com.spring.javaweb8S.vo.NoticeVO">
		SELECT * FROM bo_notice WHERE idx = #{idx};
	</select>
	
	<insert id="getBooksletterInsert" >
		<if test='memNickname == ""'>
			INSERT INTO bo_booksletter(idx,email,booksletterDate,sendNum,booksletterStatus) VALUES
			(default, #{email}, default, default, default);
		</if>
		<if test='memNickname != ""'>
			INSERT INTO bo_booksletter VALUES
			(default, #{memNickname}, #{email}, default, default, default);
		</if>
	</insert>
	
	<insert id="setAskInsert" parameterType="com.spring.javaweb8S.vo.AskVO">
		<if test="vo.memNickname == null">
			INSERT INTO bo_ask(idx,email,pwd,category,originIdx,askTitle,askContent,secret,askDate,answeredAsk,askHostIp,askDel) 
			VALUES 
			(default,#{vo.email},#{vo.pwd},#{vo.category},
			<if test='vo.category != null and vo.category != "컬렉션상품"'>
				(SELECT idx FROM bo_magazine WHERE maTitle = #{vo.originName}),
			</if>
			<if test='vo.category != null and vo.category == "컬렉션상품"'>
				(SELECT idx FROM bo_product WHERE prodName = #{vo.originName}),
			</if>
			
			#{vo.askTitle},#{vo.askContent},#{vo.secret},default,default,#{vo.askHostIp},default);
		</if>
		<if test="vo.memNickname != null">
			INSERT INTO bo_ask(idx,memNickname,category,originIdx,askTitle,askContent,secret,askDate,answeredAsk,askHostIp,askDel) 
			VALUES 
			(default,#{vo.memNickname},#{vo.category},
			<if test='vo.category != null and vo.category != "컬렉션상품"'>
				(SELECT idx FROM bo_magazine WHERE maTitle = #{vo.originName}),
			</if>
			<if test='vo.category != null and vo.category == "컬렉션상품"'>
				(SELECT idx FROM bo_product WHERE prodName = #{vo.originName}),
			</if>
			
			#{vo.askTitle},#{vo.askContent},#{vo.secret},default,default,#{vo.askHostIp},default);
		</if>
	</insert>
	
	<update id="setAskUpdate" parameterType="com.spring.javaweb8S.vo.AskVO">
		<if test="vo.memNickname == null">
			UPDATE bo_ask SET 
			email = #{vo.email}, pwd = #{vo.pwd}, askTitle = #{vo.askTitle}, askContent = #{vo.askContent}, secret = #{vo.secret} 
			WHERE idx = #{vo.idx};
		</if>
		<if test="vo.memNickname != null">
			UPDATE bo_ask SET 
			askTitle = #{vo.askTitle}, askContent = #{vo.askContent}, secret = #{vo.secret} 
			WHERE idx = #{vo.idx};
		</if>
	</update>	
	
	<update id="setNoticeViewUpdate">
		UPDATE bo_notice SET noticeView = noticeView + 1 WHERE idx = #{idx};
	</update>
	
</mapper>