<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javaweb8S.dao.AdminDAO">

	<select id="getBookIsbn" resultType="com.spring.javaweb8S.vo.BookVO">
		select * from bo_book where isbn = #{isbn};
	</select>

	<select id="getDefaultPhoto" resultType="com.spring.javaweb8S.vo.DefaultPhotoVO">
		select * from bo_defaultPhoto order by idx desc;
	</select>
	
	<select id="getProverb" resultType="com.spring.javaweb8S.vo.ProverbVO">
		select * from bo_proverb order by idx desc limit #{startIndexNo},#{pageSize};
	</select>
	
	<select id="proverbTotRecCnt" resultType="int">
		select count(*) from bo_proverb;
	</select>
	
	<select id="bookTotRecCnt" resultType="int">
		select count(*) from bo_book;
	</select>
	
	<select id="getBooks" resultType="com.spring.javaweb8S.vo.BookVO">
		select * from bo_book order by idx desc limit #{startIndexNo},#{pageSize};
	</select>
	
	<select id="bookTotRecCntSearch" resultType="int">
		select count(*) from bo_book where ${search} like concat('%',#{searchString},'%');
	</select>

	<select id="getDBBooks" resultType="com.spring.javaweb8S.vo.BookVO">
		select * from bo_book where ${search} like concat('%',#{searchString},'%') order by idx desc limit #{startIndexNo},#{pageSize};
	</select>
	
	<select id="magazineTotRecCnt" resultType="int">
		select count(*) from bo_magazine;
	</select>
	
	<select id="getMagazineList" resultType="com.spring.javaweb8S.vo.MagazineVO">
		select * from bo_magazine order by idx desc limit #{startIndexNo},#{pageSize};
	</select>
	
	<select id="magazineTotRecCntWithPeriod" resultType="int">
		<if test='searchString != "" and startDate == ""'>
			select count(*) from bo_magazine where ${search} like concat('%',#{searchString},'%');
		</if>
		<if test='searchString == "" and startDate != ""'>
			select count(*) from bo_magazine where date_format(maDate, '%Y-%m-%d') BETWEEN #{startDate} AND #{endDate};
		</if>
		<if test='searchString != "" and startDate != ""'>
			select count(*) from bo_magazine where ${search} like concat('%',#{searchString},'%') and date_format(maDate, '%Y-%m-%d') BETWEEN #{startDate} AND #{endDate};
		</if>
	</select>
	
	<select id="getMagazineSearchList" resultType="com.spring.javaweb8S.vo.MagazineVO">
		<if test='searchString != "" and startDate == ""'>
			select * from bo_magazine where ${search} like concat('%',#{searchString},'%') 
			order by idx desc limit #{startIndexNo},#{pageSize};
		</if>
		<if test='searchString == "" and startDate != ""'>
			select * from bo_magazine where date_format(maDate, '%Y-%m-%d') BETWEEN #{startDate} AND #{endDate} 
			order by idx desc limit #{startIndexNo},#{pageSize};
		</if>
		<if test='searchString != "" and startDate != ""'>
			select * from bo_magazine where ${search} like concat('%',#{searchString},'%') and date_format(maDate, '%Y-%m-%d') BETWEEN #{startDate} AND #{endDate} 
			order by idx desc limit #{startIndexNo},#{pageSize};
		</if>
	</select>
	
	
	<select id="magazineTypeTotRecCnt" resultType="int">
		select count(*) from bo_magazine where maType = #{maType};
	</select>
	
	<select id="getMagazineTypeList" resultType="com.spring.javaweb8S.vo.MagazineVO">
		select * from bo_magazine where maType = #{maType} order by idx desc limit #{startIndexNo},#{pageSize};
	</select>
	
	<select id="getMagazine" resultType="com.spring.javaweb8S.vo.MagazineVO">
		select * from bo_magazine where idx = #{idx};
	</select>
	
	<select id="getMagazinePhotoName" resultType="com.spring.javaweb8S.vo.MagazineVO">
		select maDetail,maThumbnail from bo_magazine where idx in 
   	<foreach collection="magazineList" item="magazineList" open="(" close=")" separator=",">
   		#{magazineList}
    </foreach>
	</select>
	
	<select id="colCategoryTotRecCnt" resultType="int">
		select count(*) from bo_collection;
	</select>
	
	<select id="getColCategoryList" resultType="com.spring.javaweb8S.vo.CollectionVO">
		select * from bo_collection order by idx desc limit #{startIndexNo},#{pageSize};
	</select>
	
	<select id="getColCategories" resultType="com.spring.javaweb8S.vo.CollectionVO">
		select * from bo_collection order by idx desc;
	</select>
	
	<select id="getProdCode" resultType="String">
		select prodCode from bo_product where colIdx = #{colIdx} and prodName = #{prodName} and prodPrice = #{prodPrice};
	</select>
	
	<select id="colProductTotRecCnt" resultType="int">
		select count(*) from bo_product;
	</select>
	
	<select id="getColProductList" resultType="com.spring.javaweb8S.vo.ProductVO">
		select p.*, c.colName from bo_product as p, bo_collection as c order by idx desc;
	</select>
	
	<select id="getProductInfo" resultType="com.spring.javaweb8S.vo.ProductVO">
		select * from bo_product where idx = #{idx};
	</select>
	
	<select id="getProdOption" resultType="com.spring.javaweb8S.vo.OptionVO">
		select * from bo_option where prodIdx = #{idx};
	</select>
	
	<select id="getProductPhotoName" resultType="com.spring.javaweb8S.vo.ProductVO">
		select prodDetail,prodThumbnail from bo_product where idx in
   	<foreach collection="colProdList" item="colProdList" open="(" close=")" separator=",">
   		#{colProdList}
    </foreach>
	</select>
	
	<select id="colProdTotRecCntWithPeriod" resultType="int">
		<if test='searchString == "" and startDate == ""'>
			select count(*) from bo_product 
			
			<if test='sort != "" and (sort == "판매" or sort == "품절")'>
				where prodStatus = #{sort}
			</if>
			<if test='sort != "" and (sort == "공개" or sort == "비공개")'>
				where prodOpen = #{sort}
			</if>
			;
		</if>
		<if test='searchString != "" and startDate == ""'>
			select count(*) from bo_product where 
			
			<if test='sort != "" and (sort == "판매" or sort == "품절")'>
				prodStatus = #{sort} and 
			</if>
			<if test='sort != "" and (sort == "공개" or sort == "비공개")'>
				prodOpen = #{sort} and 
			</if>
			
			${search} like concat('%',#{searchString},'%');
		</if>
		<if test='searchString == "" and startDate != ""'>
			select count(*) from bo_product where
			
			<if test='sort != "" and (sort == "판매" or sort == "품절")'>
				prodStatus = #{sort} and 
			</if>
			<if test='sort != "" and (sort == "공개" or sort == "비공개")'>
				prodOpen = #{sort} and 
			</if> 
			
			date_format(prodDate, '%Y-%m-%d') BETWEEN #{startDate} AND #{endDate};
		</if>
		<if test='searchString != "" and startDate != ""'>
			select count(*) from bo_product where 
			
			<if test='sort != "" and (sort == "판매" or sort == "품절")'>
				prodStatus = #{sort} and 
			</if>
			<if test='sort != "" and (sort == "공개" or sort == "비공개")'>
				prodOpen = #{sort} and 
			</if>
			
			${search} like concat('%',#{searchString},'%') and date_format(prodDate, '%Y-%m-%d') BETWEEN #{startDate} AND #{endDate};
		</if>
	</select>
	
	
	<select id="getColProdSearchList" resultType="com.spring.javaweb8S.vo.ProductVO">
		<if test='searchString == "" and startDate == ""'>
			select * from bo_product 
			
			<if test='sort != "" and (sort == "판매" or sort == "품절")'>
				where prodStatus = #{sort}
			</if>
			<if test='sort != "" and (sort == "공개" or sort == "비공개")'>
				where prodOpen = #{sort}
			</if>
			
			order by idx desc limit #{startIndexNo},#{pageSize};
		</if>
		<if test='searchString != "" and startDate == ""'>
			select * from bo_product where 
			
			<if test='sort != "" and (sort == "판매" or sort == "품절")'>
				prodStatus = #{sort} and 
			</if>
			<if test='sort != "" and (sort == "공개" or sort == "비공개")'>
				prodOpen = #{sort} and 
			</if>
			
			${search} like concat('%',#{searchString},'%')
			order by idx desc limit #{startIndexNo},#{pageSize};
		</if>
		<if test='searchString == "" and startDate != ""'>
			select * from bo_product where 
			
			<if test='sort != "" and (sort == "판매" or sort == "품절")'>
				prodStatus = #{sort} and 
			</if>
			<if test='sort != "" and (sort == "공개" or sort == "비공개")'>
				prodOpen = #{sort} and 
			</if>
			
			date_format(prodDate, '%Y-%m-%d') BETWEEN #{startDate} AND #{endDate}
			order by idx desc limit #{startIndexNo},#{pageSize};
		</if>
		<if test='searchString != "" and startDate != ""'>
			select * from bo_product where 
			
			<if test='sort != "" and (sort == "판매" or sort == "품절")'>
				prodStatus = #{sort} and 
			</if>
			<if test='sort != "" and (sort == "공개" or sort == "비공개")'>
				prodOpen = #{sort} and 
			</if>			
			
			${search} like concat('%',#{searchString},'%') and date_format(prodDate, '%Y-%m-%d') BETWEEN #{startDate} AND #{endDate}
			order by idx desc limit #{startIndexNo},#{pageSize};
		</if>
	</select>
	
	
	
	<insert id="memberDefaultPhotoInsert">
		insert into bo_defaultPhoto values (default, #{vo.photoName}, #{vo.memo}, default); 
	</insert>

	<insert id="setProverb">
		insert into bo_proverb values (default, #{vo.content}, #{vo.origin}); 
	</insert>
	
	<insert id="setBook">
		insert into bo_book values(default,#{vo.title},#{vo.contents},#{vo.url},#{vo.isbn},#{vo.datetime},#{vo.authors},#{vo.publisher},
		#{vo.translators},#{vo.price},#{vo.sale_price},#{vo.thumbnail},#{vo.status},default,default,default);
	</insert>

<!-- 됨 
	<insert id="setMagazineInsert" parameterType="com.spring.javaweb8S.vo.MagazineVO">
 		<if test="vo.maStock eq null">
			insert into bo_magazine values(default,#{vo.maCode},#{vo.maType},#{vo.maTitle},#{vo.maPrice},#{vo.maThumbnail},#{vo.maDetail},default,default,default,default,default);
		</if>
		<if test="vo.maStock neq null">
			insert into bo_magazine values(default,#{vo.maCode},#{vo.maType},#{vo.maTitle},#{vo.maPrice},#{vo.maThumbnail},#{vo.maDetail},#{vo.maDate},#{vo.maStock},#{vo.maSaleQuantity},default,default);
		</if> 
	</insert>	 -->
<!-- 	안 됨 
 	<insert id="setMagazineInsert" parameterType="com.spring.javaweb8S.vo.MagazineVO">
 		<if test="vo.maType != null and 'vo.maType.equals(정기 구독)'">
			insert into bo_magazine values(default,#{vo.maCode},#{vo.maType},#{vo.maTitle},#{vo.maPrice},#{vo.maThumbnail},#{vo.maDetail},default,default,default,default,default);
		</if>
		<if test="vo.maType != null and 'vo.maType.equals(매거진)'">
			insert into bo_magazine values(default,#{vo.maCode},#{vo.maType},#{vo.maTitle},#{vo.maPrice},#{vo.maThumbnail},#{vo.maDetail},#{vo.maDate},#{vo.maStock},#{vo.maSaleQuantity},default,default);
		</if> 
	</insert>	 -->
	
 	<insert id="setMagazineInsert" parameterType="com.spring.javaweb8S.vo.MagazineVO">
 		<if test='vo.maType != null and vo.maType=="정기 구독"'>
			insert into bo_magazine values(default,#{vo.maCode},#{vo.maType},#{vo.maTitle},#{vo.maPrice},#{vo.maThumbnail},#{vo.maDetail},default,default,default,default,default);
		</if>
		<if test='vo.maType != null and vo.maType=="매거진"'>
			insert into bo_magazine values(default,#{vo.maCode},#{vo.maType},#{vo.maTitle},#{vo.maPrice},#{vo.maThumbnail},#{vo.maDetail},#{vo.maDate},#{vo.maStock},#{vo.maSaleQuantity},default,default);
		</if> 
	</insert>	
	
	<insert id="setColCategoryInsert">
		insert into bo_collection values(default,#{vo.colName},#{vo.colDetail},#{vo.colThumbnail},default,default);
	</insert>
	
	
	<insert id="setProdInsert">
		insert into bo_product values(default,#{vo.colIdx},
		
		(select idx from bo_book where title = #{vo.bookTitle} limit 1), #{vo.bookTitle},
		#{vo.prodCode},#{vo.prodName},#{vo.prodPrice},#{vo.prodReason},#{vo.prodThumbnail},#{vo.prodDetail},default,default,default,#{vo.prodStatus},default);
	</insert>
	
	<insert id="setProdOpInsert" parameterType="java.util.ArrayList">
		insert into bo_option values
		<foreach item="item" index="index" collection="optionList" separator=",">
    	(default, (select idx from bo_product where prodCode = #{prodCode}), #{item.opName}, #{item.opPrice}, #{item.opStock})       
    </foreach>
	</insert>
	
	
	
	
	<update id="setChangeMemberPhotos">
		update bo_member set memPhoto = default where memPhoto in
   	<foreach collection="defaultPhotoList" item="defaultPhotoList" open="(" close=")" separator=",">
   		#{defaultPhotoList}
    </foreach>
	</update>
	
	<update id="setUpdateProverb">
		update bo_proverb set content = #{vo.content}, origin = #{vo.origin} where idx = #{vo.idx};
	</update>
	
 	<update id="setMagazineOpenUpdate">
		update bo_magazine set maOpen = #{maOpen} where idx = #{idx};
	</update>
	
	<update id="setMagazineUpdate" parameterType="com.spring.javaweb8S.vo.MagazineVO">
		update bo_magazine set maType = #{vo.maType}, maTitle = #{vo.maTitle}, maPrice = #{vo.maPrice},  
 		<if test='vo.maThumbnail != null'>maThumbnail = #{vo.maThumbnail}, </if>
 		<if test='vo.maDetail != null'>maDetail = #{vo.maDetail}, </if>
 		<if test='vo.maType != null and vo.maType=="정기 구독"'>maDate = default, </if>
		<if test='vo.maType != null and vo.maType=="매거진"'>maDate = #{vo.maDate}, </if> 
		maStock = #{vo.maStock} where idx = #{vo.idx};
	</update>
	
 	<update id="setColCategoryOpenUpdate">
		update bo_collection set colOpen = #{colOpen} where idx = #{idx};
	</update>
	
	<update id="setUpdateColCategory">
		update bo_collection set colName = #{vo.colName}, colDetail = #{vo.colDetail}, colDate = #{vo.colDate} where idx = #{vo.idx};
	</update>
	
	<update id="setColCategorythumbUpdate">
		update bo_collection set colThumbnail = #{vo.colThumbnail} where idx = #{vo.idx};
	</update>
	
	<update id="setColProdOpenUpdate">
		update bo_product set prodOpen = #{prodOpen} where idx = #{idx};
	</update>
	
	<update id="setProdUpdate" parameterType="com.spring.javaweb8S.vo.ProductVO">
		update bo_product set prodName = #{vo.prodName}, prodPrice = #{vo.prodPrice}, prodReason = #{vo.prodReason}
		<if test='vo.prodThumbnail != null'>, prodThumbnail = #{vo.prodThumbnail}</if>
		<if test='vo.prodDetail != null'>, prodDetail = #{vo.prodDetail}</if>
		where idx = #{vo.idx};
	</update>
	
	<!-- separator="," 이 구분자가 필요하지 않다!!!!! -->
	<update id="setProdOpUpdate" parameterType="java.util.ArrayList">
		<foreach item="item" index="index" collection="optionList">
			update bo_option set 
    	opName = #{item.opName}, opPrice = #{item.opPrice}, opStock = #{item.opStock} where idx = #{item.idx};     
    </foreach>
	</update>
	
	<update id="setProdStatusUpdate">
		update bo_product set prodStatus = #{prodStatus} where idx = #{idx};
	</update>
	
	
	
	<delete id="memberDefaultPhotoDelete">
		delete from bo_defaultPhoto where 1=1 and 
		photoName in
    <foreach collection="defaultPhotoList" item="defaultPhotoList" open="(" close=")" separator=",">
   		#{defaultPhotoList}
    </foreach>
	</delete>
	
	<delete id="setProverbDelete">
		delete from bo_proverb where idx in
    <foreach collection="proverbList" item="proverbList" open="(" close=")" separator=",">
   		#{proverbList}
    </foreach>
	</delete>
	
	<delete id="setBookDelete">
		delete from bo_book where idx in
    <foreach collection="bookList" item="bookList" open="(" close=")" separator=",">
   		#{bookList}
    </foreach>
	</delete>

	<delete id="setMagazineDelete">
		delete from bo_magazine where idx in
    <foreach collection="magazineList" item="magazineList" open="(" close=")" separator=",">
   		#{magazineList}
    </foreach>
	</delete>
	
	<delete id="setColCategoryDelete">
		delete from bo_collection where colThumbnail in
    <foreach collection="colCategoryList" item="colCategoryList" open="(" close=")" separator=",">
   		#{colCategoryList}
    </foreach>
	</delete>
	
	<delete id="setProdOptionDelete">
		delete from bo_option where idx = #{idx};
	</delete>
	
	<delete id="setColProdDelete">
		delete from bo_product where idx in
    <foreach collection="colProdList" item="colProdList" open="(" close=")" separator=",">
   		#{colProdList}
    </foreach>
	</delete>
	
</mapper>