<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javaweb8S.dao.AutoUpdateDAO">
	
	<select id="getAutoOrderList" resultType="com.spring.javaweb8S.vo.OrderVO">
		SELECT * FROM bo_order WHERE type != "정기 구독" AND orderStatus != "구매확정";
<!-- 		SELECT idx, orderStatus, manageDate FROM bo_order WHERE type != "정기 구독" AND orderStatus != "구매확정"; -->
	</select>
	
	<select id="getAutoSubList" resultType="com.spring.javaweb8S.vo.SubscribeVO">
		SELECT * FROM bo_subscribe WHERE subStatus = "구독중";
	</select>
	
	<select id="getMemberInfo" resultType="com.spring.javaweb8S.vo.SubscribeVO">
		SELECT s.memNickname, s.subStartDate, s.subExpireDate, m.email AS email 
		FROM bo_subscribe s 
		LEFT JOIN bo_member m 
			ON s.memNickname = m.nickname 
		WHERE s.subStatus = "구독종료";
	</select>
	
	<select id="getBooksletterList" resultType="com.spring.javaweb8S.vo.BooksletterVO">
		SELECT * FROM bo_booksletter WHERE booksletterStatus = "구독중";
	</select>
	
	<select id="getAutoRefundList" resultType="com.spring.javaweb8S.vo.RefundVO">
		SELECT * FROM bo_refund WHERE refundStatus != "반품완료";
	</select>
	
	<insert id="setDeliAutoInsert">
   	<foreach item="item" index="index" collection="insertVOS">
			INSERT INTO bo_delivery (idx,memNickname,orderIdx,addressIdx,invoice,deliveryStatus,deliveryDate,deliveryReason)
			VALUES 
			(default,#{item.memNickname},#{item.orderIdx},
			(select addressIdx FROM bo_order WHERE idx = #{item.orderIdx}),
			#{item.invoice},"배송중",default,"정기 구독");
		</foreach>
	</insert>
	
	<insert id="setPointReturn">
   	<foreach item="item" index="index" collection="tempVOS">
			INSERT INTO bo_point VALUES 
			(default,#{item.memNickname},#{item.orderIdx},#{item.refundPoint},"반품 포인트반환",default);
		</foreach>
	</insert>
	
	<insert id="setOrderPointInsert">
   	<foreach item="item" index="index" collection="level">
   		INSERT INTO bo_point VALUES   
			(default, #{item.memNickname}, #{item.idx},
			(SELECT ROUND(paidPrice * 0.05) FROM bo_order WHERE idx = #{item.idx}),
			"상품구매확정",default);
		</foreach>
	</insert>
	
	<insert id="setSubPointInsert">
   	<foreach item="item" index="index" collection="subPointVOS">
   		INSERT INTO bo_point VALUES   
			(default, #{item.memNickname}, #{item.orderIdx},
			(SELECT ROUND(paidPrice * 0.05) FROM bo_order WHERE idx = #{item.orderIdx}),
			"상품구매확정",default);
		</foreach>
	</insert>
	
	<update id="setOrderAutoUpdate">
		UPDATE bo_order SET orderStatus = #{status}, manageDate = default WHERE idx IN
   	<foreach collection="level" item="level" open="(" close=")" separator=",">
   		#{level}
    </foreach>;
	</update>
	
	<update id="setDeliveryAutoUpdate">
		UPDATE bo_delivery SET deliveryStatus = #{status}, deliveryDate = default  WHERE orderIdx IN
   	<foreach collection="level" item="level" open="(" close=")" separator=",">
   		#{level}
    </foreach>;
	</update>
	
	<update id="setDeliveryAutoUpdateWithInvoices">
   	<foreach collection="insertVOS" item="level">
			UPDATE bo_delivery SET invoice = #{level.invoice}, deliveryStatus = #{status}, deliveryDate = default  
			WHERE orderIdx = #{level.idx};
    </foreach>;
	</update>
	
	<update id="setSubStatusUpdate">
		UPDATE bo_subscribe SET subStatus = "구독종료" WHERE subSendNum = 0;
	</update>
	
	<update id="setSubSendNum">
		UPDATE bo_subscribe SET subSendNum = subSendNum - 1 WHERE subStatus = "구독중" AND subSendNum != 0;
	</update>
	
	<update id="setSubDeliAutoUpdate">
		UPDATE bo_delivery SET deliveryStatus = "배송완료", deliveryDate = default 
		WHERE deliveryReason = "정기 구독" AND deliveryStatus != "배송완료";
	</update>	
	
	<update id="setRefundAutoUpdate">
		UPDATE bo_refund SET refundStatus = #{status}, manageDate = default WHERE idx IN 
		<foreach collection="level" item="level" open="(" close=")" separator=",">
			#{level.idx}
		</foreach>
	</update>
	
	<update id="setRefundOrderAutoUpdate">
		UPDATE bo_order SET orderStatus = #{status}, manageDate = default WHERE idx IN 
		<foreach collection="level" item="level" open="(" close=")" separator=",">
			#{level.orderIdx}
		</foreach>
	</update>
	
	<update id="setMemPointReturn">
		<foreach collection="tempVOS" item="level">
			UPDATE bo_member SET point = point + #{level.refundPoint} WHERE nickname = #{level.memNickname};
		</foreach>
	</update>
	
	<update id="setStockUpdate">
		<foreach collection="level" item="level">
			<if test="level.maIdx != null">
				UPDATE bo_magazine SET maStock = maStock + #{level.refundNum}, 
				maSaleQuantity = maSaleQuantity - #{level.refundNum} 
				WHERE idx = #{level.maIdx};
			</if>
			<if test="level.opIdx != null">
				UPDATE bo_product SET prodSaleQuantity = prodSaleQuantity - #{level.refundNum} 
				WHERE idx = (SELECT prodIdx FROM bo_option WHERE idx = #{level.opIdx});
				
				UPDATE bo_option SET opStock = opStock + #{level.refundNum} 
				WHERE idx = #{level.opIdx};
			</if>
		</foreach>
	</update>
	
	<update id="setMemberPointUpdate">
		<foreach collection="level" item="level">
			UPDATE bo_member SET point = point + (SELECT ROUND(paidPrice * 0.05) FROM bo_order WHERE idx = #{level.idx}) 
			WHERE nickname = #{level.memNickname};
		</foreach>
	</update>
	
	<update id="setBooksletterSendNumUpdate">
		<foreach collection="vos" item="vo">
			UPDATE bo_booksletter SET sendNum = sendNum + 1	WHERE idx = #{vo.idx};
		</foreach>
	</update>
	
	<update id="setSubMemPointUpdate">
		<foreach collection="subPointVOS" item="level">
			UPDATE bo_member SET point = point + (SELECT ROUND(paidPrice * 0.05) FROM bo_order WHERE idx = #{level.orderIdx}) 
			WHERE nickname = #{level.memNickname};
		</foreach>
	</update>
	
	<delete id="setMemberPermanentDelete">
		DELETE FROM bo_member WHERE memberDel = "탈퇴" AND <![CDATA[lastVisit < date_add(now(), interval -1 month)]]>;
	</delete>
</mapper>