<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javaweb8S.dao.MagazineDAO">

	<select id="magazineListTotRecCnt" resultType="int">
		<if test='search != null and search == "최신순"'>
			SELECT count(*) FROM bo_magazine WHERE maOpen = '공개' 
			<if test='maDate != null and maDate != "전체"'>AND date_format(maDate, '%Y') = #{maDate} </if>
			ORDER BY idx DESC;
		</if>
		<if test='search != null and search == "상품명"'>
			select count(*) FROM bo_magazine WHERE maOpen = '공개' 
			<if test='maDate != null and maDate != "전체"'>AND date_format(maDate, '%Y') = #{maDate} </if>
			ORDER BY binary(maTitle);
		</if>
		<if test='search != null and search == "낮은 가격순"'>
			select count(*) FROM bo_magazine WHERE maOpen = '공개'  
			<if test='maDate != null and maDate != "전체"'>AND date_format(maDate, '%Y') = #{maDate} </if>
			ORDER BY maPrice ASC, idx DESC;
		</if>
		<if test='search != null and search == "높은 가격순"'>
			select count(*) FROM bo_magazine WHERE maOpen = '공개'   
			<if test='maDate != null and maDate != "전체"'>AND date_format(maDate, '%Y') = #{maDate} </if>
			ORDER BY maPrice DESC, idx DESC;
		</if>
	</select>
	
	<select id="getMagazineList" resultType="com.spring.javaweb8S.vo.MagazineVO">
		<if test='search != null and search == "최신순"'>
			SELECT * FROM bo_magazine WHERE maOpen = '공개'  
			<if test='maDate != null and maDate != "전체"'>AND date_format(maDate, '%Y') = #{maDate} </if>
			ORDER BY idx DESC LIMIT #{startIndexNo},#{pageSize};
		</if>
		<if test='search != null and search == "상품명"'>
			SELECT * FROM bo_magazine WHERE maOpen = '공개' 
			<if test='maDate != null and maDate != "전체"'>AND date_format(maDate, '%Y') = #{maDate} </if>
			ORDER BY binary(maTitle) LIMIT #{startIndexNo},#{pageSize};
		</if>
		<if test='search != null and search == "낮은 가격순"'>
			SELECT * FROM bo_magazine WHERE maOpen = '공개'  
			<if test='maDate != null and maDate != "전체"'>AND date_format(maDate, '%Y') = #{maDate} </if>
			ORDER BY maPrice asc, idx DESC LIMIT #{startIndexNo},#{pageSize};
		</if>
		<if test='search != null and search == "높은 가격순"'>
			SELECT * FROM bo_magazine WHERE maOpen = '공개'  
			<if test='maDate != null and maDate != "전체"'>AND date_format(maDate, '%Y') = #{maDate} </if>
			ORDER BY maPrice DESC, idx DESC LIMIT #{startIndexNo},#{pageSize};
		</if>
	</select>

	<select id="getMaDate" resultType="String">
		SELECT distinct YEAR(maDate) FROM bo_magazine ORDER BY maDate DESC;  
	</select>
	
  <!-- <select id="getMaDate" resultType="String">
		select distinct YEAR(maDate) FROM bo_magazine;
	</select> 
	 -->
	
	<select id="getMagazineProduct" resultType="com.spring.javaweb8S.vo.MagazineVO">
		SELECT * FROM bo_magazine WHERE idx = #{idx};
	</select>
	
	<select id="getMagazineSave" resultType="com.spring.javaweb8S.vo.SaveVO">
		SELECT * FROM bo_save WHERE memNickname = #{nickname} AND maIdx = #{idx};
	</select>

	<select id="getMagazineCartSearch" resultType="com.spring.javaweb8S.vo.CartVO">
		SELECT * FROM bo_cart WHERE memNickname = #{nickname} AND maIdx = (select idx FROM bo_magazine WHERE idx = #{idx} AND maOpen = '공개');
	</select>

	<select id="getMagazineAsk" resultType="com.spring.javaweb8S.vo.AskVO">
		SELECT * FROM bo_ask WHERE category = #{category} AND originIdx = #{idx} AND askDel != '삭제';
	</select>
	
	<insert id="setMagazineSave">
		INSERT INTO bo_save(idx,memNickname,type,maIdx,prodName,prodPrice,prodThumbnail) 
		VALUES (default,#{vo.memNickname},#{vo.type},#{vo.maIdx},#{vo.prodName},#{vo.prodPrice},#{vo.prodThumbnail});
	</insert>
	
	<insert id="setMagazineCartInsert">
		INSERT INTO bo_cart(idx,memNickname,type,maIdx,prodName,prodPrice,prodThumbnail,num,totalPrice,cartDate) 
		VALUES (default,#{vo.memNickname},#{vo.type},#{vo.maIdx},#{vo.prodName},#{vo.prodPrice},#{vo.prodThumbnail},#{vo.num},#{vo.totalPrice},default);
	</insert>
	
	<update id="setMagazineCartUpdate">
		UPDATE bo_cart SET num = num + #{vo.num}, totalPrice = totalPrice + #{vo.totalPrice} WHERE memNickname = #{vo.memNickname} AND maIdx = #{vo.maIdx};
	</update>
	
	<update id="setMaSaveNumUpdate">
		UPDATE bo_magazine SET maSave = maSave + #{maSaveNum} WHERE idx = #{maIdx};
	</update>
	
	
	<delete id="setMagazineSaveDelete">
		DELETE FROM bo_save WHERE memNickname = #{memNickname} AND maIdx = #{maIdx};
	</delete>
	
</mapper>